/* shared styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('./images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
}

/* styles */
.container {
    width: 68%;
    height: 98vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side h1{
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 2rem;
    color: #fff;
}

.left-side p{
    color: white;
}

.right-side {
    width:47% ;
}

.form-heading{
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: white;
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    box-shadow: 0 6px #00000032;
}

.right-side form {
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px #00000032;
}

.right-side form input, .trial-btn{
    box-sizing: border-box;
    width: 100%;
    padding: 15px 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font: 900;
    font-weight: 700;
}

.trial-btn{
    background-color: hsl(154, 59%, 51%);
    box-shadow: 2px 2px hsl(154, 57%, 44%);
    border: none;
    color: #fff;
}
 




